<br><table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Password</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let info of holder">
            <td>{{ info.id }}</td>
            <td>{{ info.firstname }}</td>
            <td>{{ info.lastname }}</td>
            <td>{{ info.email }}</td>
            <td>{{ info.gender }}</td>
            <td>{{info.password}}</td>
            <td><button class="btn btn-primary" (click)="onEdit(info)" >Edit</button>
            </td>
        </tr>
    </tbody>
</table>