<!-- <div class="form">
    <h1>Welcome Kapamilya!</h1>
<button class="btn" routerLink="/dashboard">Register</button>
</div> -->

<div class="container">
    <div class="overlay"></div>
    <div class="box">
        <div class="content">
            <p class="welcome"><b>Welcome to</b></p>
            <h2 class="music">Music Hub</h2>
            <p class="live">Live to the BEAT!</p>
            <br><br><br><br><br><br>
            <button class="btn btn-primary" routerLink="/dashboard">Register</button>

        </div>
        <div class="image">
            <img src="https://us.123rf.com/450wm/peus/peus1507/peus150700145/53198257-young-beautiful-brunette-woman-listening-music-with-headphones-in-the-city.jpg?ver=6" />

        </div>
    </div>
</div>